.coursesContainer{
display:flex;
direction: rtl;
width:100%;
padding: 0 189px 0 124px;
}
.rightBanner{
    width:124px;
}
.addBtn{
    display:flex;
direction: rtl;
width:100%; 
}
.container{
    direction: rtl;
    border-top: 1px solid black;
    width: 100;
    padding: 0 189px 0 124px;
}