.container{
    display:block;
    width:100%;
    height:100px;
    direction:rtl;
    align-items: flex-end;
    background-color: #69CCE8;}
.imgBox img{
    width:95px;
}
.imgBox{
    padding-right:95px;
    padding-top:5px;
    display:block;
    float:right;
}
.hBox{ 
    padding-top:20px;
    width:320px;
    display:block;
    font-size:0.8rem;
    float:right;
}
.hBox h1{ 
    margin-block-start: 0 ;
    margin-block-end: 0 ;
    vertical-align: bottom;
    font-weight: bolder;
}
.hBox h2{  
    text-align: right;
    margin-block-start: 0 ;
    margin-block-end: 0 ;
    line-height:15px;
    font-weight: 300;
}