.headerContainer{
    display:block;
    width:100%;
    height:100px;
    direction:rtl;
    align-items: flex-end;
    background-color: #69CCE8;
    margin-bottom:25px;
}
.imgBox img{
    width:95px;
}
.imgBox{
    padding-right:95px;
    padding-top:5px;
    display:block;
    float:right;
}
.hBox{ 
    padding-top:20px;
    width:320px;
    display:block;
    font-size:0.8rem;
    float:right;
}
.hBox h1{ 
    margin-block-start: 0 ;
    margin-block-end: 0 ;
    vertical-align: bottom;
    font-weight: bolder;
}
.hBox h2{  
    text-align: right;
    margin-block-start: 0 ;
    margin-block-end: 0 ;
    line-height:15px;
    font-weight: 300;
}
.authStatus{
    float: left;
    margin-top: -85px;
    margin-left: 167px;
    
}

.authStatus button{
    background-color:#69CCE8;
    color:white;
    
    border:2px solid white;
    
    font-weight: bold;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  
  .authStatus button:hover {
    /* border-color: red;  */
    color: #69CCE8;
    background-color: white;
    /* border:2px dashed white; */
    
    /* background-color:white;
    color: red; */
  }
  